body, body{
    font-family: cursive;
    text-align: center;
}

.header, header{
    letter-spacing: 6px;
    background: purple;
    padding: 20px;
    color: white
}

    .Container, Container{
    display: flex;
        
    justify-content: center;
        flex-wrap: wrap;  
    
}

.Card, Card{
    border: 1px solid #ccc;
    background-color:burlywood;
    margin: 25px;
    padding: 25px;
    box-shadow: 6px 6px 6px
        rgba(0,0,0,0,3);
}

@media screen and (min-width: 50em){
    .Card, Card{
        flex-basis: 325px;
    }
    .header, header h1 {
        font-size: 5em;
    }
}

.icons, icons{
    font-size: 8em;
    padding 25px;  
}

.button, .container{
    margin: 10px;
}

button, .button {
    background: purple;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.blue{
    background: purple;
}

td, .td {
padding: 10px;
}

table {
margin: auto;
}
 #my-order{
background-color: purple;
padding: 25px;
     display: none;
}

.footer, footer{
    padding: 30px;
    background: purple;
}

.team{
    background-color: darkslategray;
}


div.Baboon{
    content: url(images/040c664a3b7d536214f99c33a3a3aaa0.png);
          width: 700px;
    height: 400px;
       
}

div.Mandrill{
    content: url(Images/55b8f697e384600ead8fea18289edc7a.png);
    width: 550px;
    height: 315px;}

div.Mantled{
    content: url(Images/8e441b63db00eac4a492a33fbc054288.png);
    width: 550px;
    height: 330px;
       
}



